<header id="header" class="jumbotron">
  <div id="header_wrapper">
    <h1><a href="{{ path('my_words_homepage') }}">Objectif 750</a></h1>

    <div id="menu_bar">
      <div class="container">
        {# User ribbon si connecté #}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <div id="user_ribbon">
            connecté en tant que <a href="{{path('fos_user_profile_show')}}">{{ app.user.username }}</a> - <a href="{{ path('fos_user_security_logout') }}">déconnexion</a>
          </div>

        {# User ribbon si déconnecté #}
        {% else %}
          <div id="user_ribbon">
            <a href="{{ path('fos_user_security_login') }}">connexion</a>
            &nbsp;
            <a href="{{ path('fos_user_registration_register') }}">inscription</a>
          </div>
        {% endif %}

        {# Menu #}
        {% include 'CoreBundle::menu.html.twig' %}
      </div>
    </div>
  </div>
</header>