{% trans_default_domain 'header' %}

{% set current = app.request.requestUri %}

<nav class="navbar">
  <ul id="main_menu" class="inline_list">
    <li class="first_level
        {% if path('my_words_homepage') in current %} active{% endif %}">
      <a class="first_level_link" href="{{ path('my_words_homepage') }}">
        {% trans %}suivi journalier{% endtrans %}
      </a>
    </li>
    <li class="first_level
        {% if path('word_wars_new') in current %} active{% endif %}">
      <a class="first_level_link" href="{{ path('word_wars_new') }}">word wars</a>
    </li>
    <li class="first_level
        {% if path('my_stats_daily') in current %} active{% endif %}">
      <a class="first_level_link">stats</a>

      <ul class="submenu">
        <li class="second_level"><a href="{{ path('my_stats_daily') }}">suivi</a></li>
        <li class="second_level"><a href="{{ path('my_stats_nano') }}">nano</a></li>
        <li class="second_level"><a href="{{ path('my_stats_archives') }}">archives</a></li>
      </ul>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
      <li class="first_level">
        <a class="first_level_link" href="{{ path('sonata_admin_dashboard') }}">administration</a>
      </li>
    {% endif %}
  </ul>
</nav>
