<h3>Progression</h3>
<div id="triangle">&nbsp;</div>

<div id="left_column_content">
  {% if progress.no_pref_set == true and progress.nano_mode == 'off' %}
    <p>Vous n'avez pas encore défini de quota journalier.</p>
    <p><a href="{{ path('fos_user_profile_edit') }}">Cliquez ici pour corriger cela !</a></p>
  {% else %}
    <p>Mode NaNo : <a href="{{ path('my_stats_nano') }}">{{ progress.nano_mode }}</a></p>

    <p class="days_word_count">Aujourd'hui : <span class="current_days_word_count">{{ progress.days_stats.todays_word_count|number_format(0,',',' ') }}</span>/{{ progress.days_stats.todays_word_goal|number_format(0,',',' ') }} mots</span></p>

    <div class="percent_days_accomplished">
      <div class="percentage" style="width:{{ progress.days_stats.todays_percent_accomplished }}%">&nbsp;</div>
      <div class="percent_number">{{ progress.days_stats.todays_percent_accomplished }}%</div>
    </div>

    {% if progress.nano_mode == 'on' %}
      <div class="nano_mode">
        <p class="nano_word_count">Mois : <span class="current_nano_word_count">{{ progress.nano_stats.total_nano_words|number_format(0,',',' ') }}</span>/{{ progress.nano_stats.nano_word_goal|number_format(0,',',' ') }} mots</span></p>
        <div class="percent_nano_accomplished">
          <div class="percentage" style="width:{{ progress.nano_stats.percent_nano_accomplished }}%">&nbsp;</div>
          <div class="percent_number">{{ progress.days_stats.todays_percent_accomplished }}%</div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
