{% extends "WordWarsBundle::layout.html.twig" %}

{% block title_page %}C'est parti !{% endblock %}

{% block fil_ariane %}
  {{ parent() }}
  <li>WW en cours</li>
{% endblock %}

{% block wordwars_body %}
  <div id="mywordwar_wrapper" class="content_wrapper">
    <form id="word_war_form">
      {# <button id="test_button">Je suis un bouton</button> #}
      <div id="words_header">
        <p id="countdown">
          <span class="hours"></span>h
          <span class="minutes"></span>m
          <span class="secondes"></span>s
        </p>
        <span id="word_counter">{{ word_count }} </span>
        <button id="focus_me" title="mode focus"></button>
        <span id="progression_status"></span>
        <input id="start_time" type="hidden" value="{{ start_time }}">
        <input id="end_time" type="hidden" value="{{ end_time }}">
        <input id="ww_id" type="hidden" value="{{ ww_id }}">
      </div>
      <textarea id="my_wordwar_words">{{ saved_words }}</textarea>
    </form>

    <p id="message_end_ww" class="hidden">La WW est finie ! Vous pouvez aller voir les résultats en cliquant <a href="{{ path('word_war_ended', {id: ww_id}) }}">ici</a>.</p>

    <div id="giant_starting_coutdown">
      <span class="hours"></span>h
      <span class="minutes"></span>m
      <span class="secondes"></span>s
    </div>
  </div>
{% endblock %}
