{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "CoreBundle::core_layout.html.twig" %}

{% block title %}
  User{{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite' 'bundles/user/css/user.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}

{% block title_page %}Mon profil{% endblock %}

{% block body %}
  {# Messages flash #}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}
{% endblock %}