{% extends "CoreBundle::core_layout.html.twig" %}

{% block title %}
  Export {{ parent() }}
{% endblock %}

{# {% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite' 'bundles/export/css/export.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %} #}

{% block fil_ariane %}
  <li><a href="{{ path('export_homepage') }}">export</a></li>
  {# {{ render(controller('WordWarsBundle:WordWars:breadcrumb')) }} #}
{% endblock %}

{% block body %}
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div id="export_wrapper">
    <h2>{% block title_page %}{% endblock %}</h2>

    {% block export_body %}{% endblock %}
  </div>
{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
  {% javascripts 'bundles/export/js/export.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}#}