{% trans_default_domain 'FOSUserBundle' %}

{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="fos_user_user_show">
    <p><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></p>
    <p>{{ 'profile.show.username'|trans }} : {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
    <p>Avatar :
      {% if user.avatar.extension %}
        <img width="150" src="{{ asset(user.avatar.uploadDir ~ '/' ~ user.avatar.id ~ '.' ~ user.avatar.extension) }}" />
      {% else %}
        <em>Vous n'avez pas (encore) d'avatar.</em>
      {% endif %}
    </p>
    <p>Objectif : {% if user.userPreferences %} {{ user.userPreferences.wordCountGoal }} mots {% else %} 0 mot {% endif %} par jour</p>
  </div>
{% endblock %}
