{% extends "MyWordsBundle::layout.html.twig" %}

{% block title %}Suivi journalier{% endblock %}

{% block title_page %}{% trans %}Objectif du jour :{% endtrans %}
  {% if 0 < todays_goal %}{{ todays_goal }} {% trans %}mots{% endtrans %}
  {% else %}<i>à définir</i>{% endif %}
{% endblock %}

{% block mywords_body %}
  {% if 0 == todays_goal %}
    <p class="explain">{{ 'mywords_intro_no_goal_set'|trans({'%link_start%': '<a href="'~path('fos_user_profile_edit')~'">', '%link_end%': '<a>'}) | raw }}</p>
  {% endif %}

  <div class="content_wrapper">
    <p>{% trans %}mywords_intro{% endtrans %}</p>
    <p>{{ 'mywords_link'|trans({'%link_start%': '<a href="'~path('my_stats_archives')~'">', '%link_end%': '</a>'}) | raw }}</p>

    <div id="daily_words_wrapper">
      <div id="words_header">
        <input type="hidden" id="todays_goal" value="{{ todays_goal }}">
        <span id="word_counter"{% if word_count >= todays_goal and word_count > 0 %} class="quota_reached" title="Félicitations ! Vous avez atteint votre quota journalier. Mais vous pouvez continuer sur votre lancée si vous voulez."{% endif %}>
          {{ word_count }}
        </span>
        <span id="progression_status"></span>
        <button id="focus_me" title="mode focus"></button>
        {# <button id="save_me" title="sauvegarder"></button> #}
      </div>
      <form>
        <textarea id="my_daily_words">{{ saved_words }}</textarea>
      </form>
    </div>
  </div>
{% endblock %}
