{% for date,days_contents in contents %}
  <div class="days_wrapper">
    <h3>{{ date|date("d/m/Y") }}</h3>

    {% for days_content in days_contents %}
      <div class="archive_content_wrapper">
        <div class="content_type {{ days_content.type|lower }}">{{ days_content.type }}</div>
        <div id="{{ days_content.id }}" class="archive_content {{ days_content.type|lower }}">
          {{ days_content.content|nl2br }}
          <div class="show_more">plus...</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% if nb_pages > 1 %}
  <div class="pages">
    {% for i in 1..nb_pages %}
      {% if i == current_page %}
        <span class="current_page">{{ i }}</span>
      {% else %}
        <a href="{{ path('my_stats_archives', {page: i}) }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
